@model HospedagemMVC.Domain.Accommodation

@{
    ViewBag.Title = "Details";
}

<h2>Informações Hospedagens</h2>

<div>
	<hr />
    <dl class="dl-horizontal" align="center">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateChekIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateChekIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCheckOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCheckOut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountPeopleAdult)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountPeopleAdult)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountPeopleChild)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountPeopleChild)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountChalets)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountChalets)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValueAdult)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValueAdult)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValueChild)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValueChild)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValueTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValueTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Obs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Obs)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar à Lista", "Index")
</p>
